{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Netfloox App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'base.css' %}">
	<link rel="stylesheet" href="{% static 'home.css' %}">
	<link rel="stylesheet" href="{% static 'analyse.css' %}">
    <script src="{% static 'base.js' %}" type="text/javascript"></script>
	
    </head>
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<!-- End -->
	
</body>	
	<div class="sidebar close">
		<div class="logo-details">
			<img class="netfloox-logo" src="https://github.com/data-IA-2022/NETFLOOX_manuel_adrien_tarik/blob/main/assets/netfloox_logo.png?raw=true" alt="Netflix Logo" />
		  <span class="logo_name">Menu</span>
		</div>
		<ul class="nav-links">
		  <li>
			<a href="{% url 'home' %}">
			  <i class='bx bx-home'></i>
			  <span class="link_name">Home</span>
			</a>
			<ul class="sub-menu blank">
			  <li><a class="link_name" href="{% url 'home' %}">Home</a></li>
			</ul>
		  </li>   
		  <li>
			<a href="{% url 'analyse' %}">
			  <i class='bx bx-file-find' ></i>
			  <span class="link_name">Analyse</span>
			</a>
			<ul class="sub-menu blank">
			  <li><a class="link_name" href="{% url 'analyse' %}">Analyse</a></li>
			</ul>
		  </li>
		  <li>
			<a href="{% url 'prediction' %}">
			  <i class='bx bx-bar-chart'></i>
			  <span class="link_name">Prédiction</span>
			</a>
			<ul class="sub-menu blank">
			  <li><a class="link_name" href="{% url 'prediction' %}">Prédiction</a></li>
			</ul>
		  </li>
		  <li>
			<a href="{% url 'recomendation' %}">
			  <i class='bx bx-compass'></i>
			  <span class="link_name">Recomendation</span>
			</a>
			<ul class="sub-menu blank">
			  <li><a class="link_name" href="{% url 'recomendation' %}">Recomendation</a></li>
			</ul>
		  </li>
		  
		</ul>
	  </div>
	
  
	{% block content %}
	{% endblock %}

</body>
</html>


