<!-- netfloox/templates/netfloox_app/recomendation.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="page-container">
    <h1>Recommendation Page</h1>
    <form method="POST" id="myForm">
        {% csrf_token %}
        <label for="film">Select a film:</label>
        <input list="films" name="film" id="myInput" value="{{ txt_default }}"></input>
        <datalist id="films">
            {% for val in test %}
                <option >{{ val }}</option>
            {% endfor %}
        </datalist>
        <button method="POST"  id="myButton" name="film_but" value="@//@@///@@@@////">Envoyer</button>
    </form>

    <br><br>

    {% if df is not None and not df.empty %}
        <h2>Liste de film similaire à '{{ txt_default }}' :</h2>
        <table>
            <thead>
                <tr>
                    <th>% de similarité</th>
                    <th>Titre</th>
                </tr>
            </thead>
            <tbody>
                {% for index, row in df.iterrows %}
                    <tr>
                        <td>{{ row.score }}</td>
                        <td>{{ row.originalTitle }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <script>
        const myInput = document.getElementById("myInput");
        const myButton = document.getElementById("myButton");
        const myForm = document.getElementById("myForm");
        const mydatalist = document.getElementById("films");

        myInput.addEventListener("input", function() {
            myForm.submit(); // soumet le formulaire
        });

        myInput.focus(); 
        myInput.setSelectionRange(myInput.value.length, myInput.value.length);

        myButton.disabled = (mydatalist.options.length != 1);
    </script>
{% endblock %}
