body {
    margin: 0px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: rgb(250, 250, 250);
    background-color: rgb(14, 17, 23);
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: auto;
  }
  
  
  /*  Baniere promo */
  .basicLayout .disclosure-visible.adsplan-banner-enabled .mobile-plan-banner.-container {
    margin-bottom: 0;
  }
  .mobile-plan-banner.-container {
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: center;
    min-height: 4rem;
    color: #111;
    width: 100%;
    margin: 0px 0px 16px;
  }
  
  .mobile-plan-banner.-container .badging-indicator {
    background-color: #e50914;
    border-radius: 17px;
    color: #fff;
    font-size: .8rem;
    font-weight: 600;
    margin: 0.5rem 1rem;
    padding: 0.2rem 0.5rem;
    text-transform: uppercase;
  }
  
  .mobile-plan-banner.-price-label {
    font-size: 1.3rem;
    font-weight: 800;
  }
  
  .mobile-plan-banner.-price-label {
    font-size: 1.3rem;
    font-weight: 800;
  }.mobile-plan-banner.-container .mobile-plan-button-cta {
    border-width: 2px;
    box-shadow: none;
    font-weight: 600;
    margin-left: 1rem;
    padding-left: 1rem;
  }
  .mobile-plan-banner.-container .mobile-plan-button-cta a.btn-outline.btn-small {
    align-items: center;
    color: inherit;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    color: #0071eb;
  }
  /* header image */
  
  .header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%),url(https://assets.nflxext.com/ffe/siteui/vlv3/3d6cf7c4-ad17-457a-b6cf-ea952926ba74/2a6373f4-d583-4bb0-bfd1-2b250074b4c2/FR-fr-20230206-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: auto;
  }
  
  
  
  /* fake nav avec logo netfloox */
  
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 32px;
    left: 0;
    right: 0;
  }
  .logo{
    cursor: pointer;
    width: 10rem;
    height: 2.5rem;
    color: rgb(134, 3, 10);
  }
  
  /*  */
  
  .lang-selection-container .ui-label {
    clip: rect(0 0 0 0);
    border: 0;
    display: block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .ui-label, .ui-label-no-margin {
    color: #8c8c8c;
    display: block;
    font-size: 16px;
    font-weight: 400;
  }
  .our-story-header--has-language-selector .lang-selection-container .select-arrow.prefix .ui-select {
    background: rgba(0,0,0,.4);
    border: 1px solid #aaa;
    color: #fff;
    font-size: .875rem;
    padding: 0.25rem 1.375rem;
    margin-right: 2rem;
  }
  
  
  
  .our-story-header--has-language-selector {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: auto;
    justify-content: flex-start;
    padding-top: 0.5rem;
    padding-right: 2rem;
  }
  
  .our-story-header--has-language-selector .lang-selection-container .select-arrow.prefix .ui-select {
    padding: 0.5rem 1.375rem;
  }
  
  /* le globe du language selector */
  .our-story-header--has-language-selector .lang-selection-container .select-arrow.prefix:before, .our-story-header--has-language-selector .lang-selection-container .select-arrow:after {
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
  }
  .our-story-header--has-language-selector .lang-selection-container .select-arrow.prefix:before {
    font-size: .75rem;
    left: 0.5rem;
  }
  
  
  
  .ui-select-wrapper .select-arrow:after {
    color: #000;
    content: "\e898";
    font-family: nf-icon;
    font-size: 6px;
    pointer-events: none;
    position: absolute;
  }
  
  
  
  /* s'identifier */
  
  a.authLinks.redButton{
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  letter-spacing: 0!important;
  text-decoration: none;
  border-radius: 3px;
  color: #fff;
  background-color: #e50914;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  padding: 7px 17px;
  float: none;
  margin-top: 0;
  white-space: nowrap;
  }
  
  /* text intro page */
  
  .header-content{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  
  .header-content h1{
    font-size: 3.125rem;
    margin: 0 auto;
    max-width: 640px;
  }
  
  .header-content h2{
    font-size: 1.625rem;
    padding-top: 0;
  }
  .header-content p{
    font-size: 1.2rem;
    max-width: none;
    padding-bottom: 20px;
    display: block;
    margin-top: 0;
  }
  
  .email-signup{
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
  }
  
  .email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    color: #8c8c8c;
    font-size: 16px;
  }
  
  .email-signup button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    cursor: pointer;
    height: 60px!important;
    font-size: 1.625rem;
    display: flex;
    align-items: center;
  }
  
  .email-signup button svg{
    fill: #fff;
  }
  
  
  img {
    border: 0;
    height: auto;
    max-width: 100%;
  }
  img {
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  
  
  
  .css-1fv8s86 a {
    color: rgb(255,255,255);
  }
  
  
  /* Story card avec image */
  .our-story-card-img-container{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    font-size: 16px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: #fff;
    letter-spacing: 0!important;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    height: 100%;
    width: 48%;
  }
  
  .our-story-card-animation-container{
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  font-size: 16px;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  color: #fff;
  letter-spacing: 0!important;
  overflow: hidden;
  position: relative;
  margin: -10% -5% -5% 0;
  }
  .animation-card .animation-card-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
    background-color: #000;
    overflow: hidden;
  }
  .our-story-card-img {
    position: relative;
    z-index: 2;
  }
  .animation-card .our-story-card-text {
    flex: 0 1 auto;
    height: 100%;
    padding: 0 3rem 0 0;
    width: 52%;
    z-index: 3;
  }
  
  .our-story-card-subtitle, .our-story-card-text {
    font-size: 1.625rem;
    font-weight: 400;
    background-color: #000;
  }
  
  
  
  /* Pour la première animation */
  .animation-card.watchOnTv .our-story-card-animation {
    height: 100%;
    left: 50%;
    max-height: 54%;
    max-width: 73%;
    position: absolute;
    top: 46%;
    transform: translate(-50%,-50%);
    width: 100%;
  }
  /* Pour watch on device deuxième animation */
  .animation-card.watchOnDevice .our-story-card-animation {
    height: 100%;
    left: 50%;
    max-height: 47%;
    max-width: 63%;
    position: absolute;
    top: 34%;
    transform: translate(-50%,-50%);
    width: 100%;
  }
  
  .animation-card .animation-card-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
  }
  
  .animation-card .our-story-card-animation-container {
    overflow: hidden;
    position: relative;
  }
  video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  .animation-card.flipped .animation-card-container {
    flex-flow: row-reverse;
  }
  /* padding pour text où etc... */
  .animation-card.flipped .animation-card-container .our-story-card-text {
    padding: 0 0 0 3rem;
  }
  .our-story-card-video{
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  font-size: 16px;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  color: #fff;
  letter-spacing: 0!important;
  display: inline-block;
  vertical-align: baseline;
  height: 100%;
  width: 100%;
  }
  
  .our-story-card animation-card watchOnTv{
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  font-size: 16px;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  letter-spacing: 0!important;
  background: transparent;
  border-bottom: 8px solid #222;
  color: #fff;
  margin-bottom: 0;
  position: relative;
  padding: 70px 45px;
  padding-left: 73!important;
  }
  
  /* Pour les enfants */
  our-story-card animation-card.kidsValueProp{
    flex-flow: row-reverse;
  }
  
  /* stranger things download to wath */
  .default-ltr-cache-aknuz3 {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 8%;
    /* -webkit-transform: translateX(-50%); */
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0 auto;
    background: rgba(0, 0, 0, 1);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 60%;
    min-width: 15rem;
    padding: 0.25rem 0.65rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 2em 0 rgb(0 0 0);
    border-radius: 0.75rem;
    z-index: 1;
  }
  
  /* Faq */
  
  .faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
    background-color: #000;
  }
  
  .faq h2{
    font-weight: 500;
    font-size: 3em;
    margin: 0.67em 0;
    
  }
  .accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
  
  }
  
  .accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
  }
  
  .accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
  }
  
  .accordion li label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right:20px;
    transition: transform 0.5s;
  }
  
  input[type="radio"]{
    display: none;
  }
  
  .accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
  }
  
  .accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
  }
  
  /* to close */
  .accordion.faq_input input[type="radio"]:checked + label::after{
    transform: rotate(-45deg);
  }
  
  
  
  
  
  
  .default-ltr-cache-1tbnr4f .ea3diy33>select {
    -webkit-transition: color 250ms cubic-bezier(0.5, 0, 0.1, 1);
    transition: color 250ms cubic-bezier(0.5, 0, 0.1, 1);
    width: 100%;
    color: inherit;
    line-height: 1.25rem;
    padding-right: 0.75rem;
    padding-left: 2.25rem;
    padding-bottom: 0.375rem;
    padding-top: 0.375rem;
  }
  .default-ltr-cache-1tbnr4f .ea3diy33>select {
    padding-right: 2.25rem;
  }
  
  .css-k1ih3n {
    width: 100%;
    padding: 0rem 0rem 10rem;
    min-width: auto;
    max-width: initial;
  }
  
  .css-k1vhr4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    object-fit: contain;
  }
  
  .css-1vq4p4l {
    padding-top: 10rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
  }
  
  section[data-testid='stSidebar'] {
    /*background-color: #111;*/
    min-width:unset !important;
    width: unset !important;
    flex-shrink: unset !important;
  }
  
  button[kind="header"] {
    background-color: transparent;
    color:rgb(180, 167, 141);
  }
  
  
  
  
  
  @media(hover){
    /* header element to be removed */
    header[data-testid="stHeader"] {
        display:none;
    }
  
    /* The navigation menu specs and size */
    section[data-testid='stSidebar'] > div {
        height: 100%;
        width: 60px;
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s ease;
        padding-top: 60px;
        white-space: nowrap;
        display: block;
        
    }
    
    
    
    /* The navigation menu open and close on hover and size */
    /* section[data-testid='stSidebar'] > div {
    height: 100%;
    width: 75px; /* Put some width to hover on. */
    /* } 
    /* ON HOVER */
    section[data-testid='stSidebar'] > div:hover{
    width: 280px;
    }
  
    /* The button on the streamlit navigation menu - hidden */
    button[kind="header"] {
        display: none;
    }
  }
     
  @media(max-width: 272px){
    
    section[data-testid='stSidebar'] > div {
        width:15rem;
    }
  }
  
  
  /* ---------------------------------------- Recommandation page --------------------------------- */
  
  .css-k1ih3n {
    width: 100%;
    padding: 0rem 0rem 10rem;
    min-width: auto;
    max-width: initial;
    display: flex!important;
    align-items: center!important;
  }
  
  .css-1p05t8e {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 0.25rem;
    padding: calc(1em - 1px);
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  